.Main_chat
  .Main_chat__Header
    .header-text
      .header-test 
        test 
        .header-member
          Member:masa 
      .header-edit
        = link_to "https://www.facebook.com/", class: "header-edit" do
          Edit
    
  .Main_chat__Main
    .user1
      .user1-name
        masa
      .user1-createdup
        2020/06/23(Tue) 17:40:45
    .user1-text
      おはよう！
    .user1
      .user1-name
        masa
      .user1-createdup
        2020/06/23(Tue) 18:00:00
    .user1-text
      今日は夜から雨

  .Main_chat__Message_form
    .form
      %form.new-message
        .input-box
          %input{type:"text",class:"input-box__text",placeholder:"type a message"}
          %label{class:"input-box__image",}
            =icon('fas','image')
            %input{type:"file",class: "input-box__image__file"}
        %input{type: "submit", class: "submit-btn",value:"Send"